<!-- <!DOCTYPE html> 
<html lang="ja"> 
  <head>
    <meta charset="utf-8"> <title>計算機アプリ</title> <script src="./static/test.js"></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  </head> 
<body>
 <input id="question" type="text"> => <input id="answer" type="text"> <br/>
 <button id="calc_button">計算</button> 
</body>
</html> -->
<!-- https://note.com/junyaaa/n/ncbec90fe8cad#9DnPn -->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/top.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <h1>チャットボット <a href="https://www.google.com/">ログイン</a></h1>

    <!--画面-->
    <div id="field">
        <ul id="chat-ul"></ul>
    </div>
    
    <!--入力場所，送信ボタン-->
    <div id= "input-field">
        <input type="text" id="chat-input" placeholder="質問を入力してください">
        <input type="button" id="chat-button" value="送信" onclick="post()">
    </div>
    <script src="../static/top.js"></script>
</body>
</html>

<!-- 引用元 https://qiita.com/masa_mf3/items/305c29b98eca47b0ab82 -->
